<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="keywords" content="">

        <title>Home</title>

        <!-- Styles -->
        <link href="assets/css/page.css" rel="stylesheet">
        <link href="assets/css/all.min.css" rel="stylesheet">
        <link href="assets/css/style-ar.css" rel="stylesheet">
        
        <!-- Favicons -->
        <link rel="apple-touch-icon" href="assets/img/apple-touch-icon.png">
        <link rel="icon" href="assets/img/favicon.png">

    <body class="demo-navbar">

        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-dark">
            <div class="container-fluid">
                <div class="navbar-left">
                    <a class="navbar-brand" href="#">
                        <img class="logo" src="assets/img/nissan/black.png" alt="logo">
                    </a>
                </div>
                <div class="navbar-right">
                    <button class="navbar-toggler" type="button">&#9776;</button>
                </div>
                <section class="navbar-mobile">
                    <nav class="nav nav-navbar mr-auto mb-7">
                        
                        <a class="nav-link text-dark" href="vehicles.html"> السيارات</a>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="#">تسوق من منزلك</a>
                            <ul class="nav">
                                <li class="nav-item">
                                    <a class="nav-link" href="shop-at-home.html">ابدأ التسوق</a>
                                    <a class="nav-link" href="https://virtualshowroom.nissan.com.eg/en/">صالة العرض الإفتراضية</a>
                                    <a class="nav-link" href="brochures.html">تصفح كاتالوج</a>
                                    <a class="nav-link" href="quote.html">اطلب عرض أسعار</a>
                                    <a class="nav-link" href="shop-at-home.html#testdrive">احجز تجربة قيادة منزلية</a>
                                    <a class="nav-link" href="call-back.html">اطلب اتصال</a>
                                    <a class="nav-link" href="home-service.html">خدمة استلام وتوصيل السيارة</a>
                                    <a class="nav-link" href="order-online.html">اطلب سيارتك عبر الانترنت</a>
                                    <a class="nav-link" href="covid-19.html">مستجدات COVID-19</a>
                    
                                </li>
                            </ul>
                        </li>

                        <a class="nav-link text-dark" href="nissan-fleet.html">أسطول الشركات</a>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="#">خدمات المالك</a>
                            <ul class="nav">
                                <li class="nav-item">
                                    <a class="nav-link" href="home-service.html">احجز موعد خدمة</a>
                                    <a class="nav-link" href="mobile-app.html">تطبيق المالك</a>
                                    <a class="nav-link" href="recall.html">معلومات الاستدعاء (Recall)</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="#">إكتشف نيسان</a>
                            <ul class="nav">
                                <li class="nav-item">
                                    <a class="nav-link" href="experience-nissan-refresh.html">كل ما هو جديد</a>
                                    <a class="nav-link" href="nissan-intelligent-mobility.html">التنقّل الذكي من نيسان</a>
                                    <a class="nav-link" href="nismo-performance.html">أداء نيسمو</a>
                                    <a class="nav-link" href="#">الأخبار</a>
                                </li>
                            </ul>
                        </li>
                        <button class="btn text-dark fs-20" id="sidemenu-btn"><i class="fa fa-bars" aria-hidden="true"></i></button>
                        <ul class="list-unstyled navbar__responsive__li px-0">
                            <li class="my-4 nav-item"><a href="#" class="text-dark nav-link">صالة العرض الإفتراضية</a></li>
                            <li class="my-4 nav-item"><a href="" class="text-dark nav-link">ابحث عن مركز نيسان</a></li>
                            <li class="my-4 nav-item"><a href="order-online.html" class="text-dark nav-link">اطلب سيارتك عبر الانترنت</a></li>
                            <li class="my-4 nav-item"><a href="brochures.html" class="text-dark nav-link">تصفّح الكاتالوجات</a></li>
                            <li class="my-4 nav-item"><a href="contact-fleet-sales.html" class="text-dark nav-link">مبيعات الشركات</a></li>
                            <li class="my-4 nav-item"><a href="call-back.html" class="text-dark nav-link">طلب اتصال</a></li>
                            <li class="my-4 nav-item"><a href="quote.html" class="text-dark nav-link">تصفّح الكاتالوجات</a></li>
                            <li class="my-4 nav-item"><a href="home-service.html" class="text-dark nav-link">إطلب عرض أسعار</a></li>
                                    <div class="row">
                                        <div class="col-6">

                                            <li class="my-4"><a href="index.html" class="text-dark lang-active">عربي</a></li>
                                        </div>
                                        <div class="col-6">

                                            <li class="my-4"><a href="../index.html" class="text-dark">English</a></li>
                                        </div>
                                    </div>
                        </ul>
                    </nav>

                        
                    
                </section>

            </div>
        </nav>
        <!-- navbar -->
        
        <!-- start side menu -->
        <div class="sidemenu" id="sidemenu">
            <div id="sidemenu__options" class="min-height">
                <button id="x-sidemenu-btn" class="btn btn-white text-black fs-20 mb-0">X</button>
                <div class="row no-gutters justify-content-between align-items-center">
                    <ul class="list-unstyled">
                        <li class="my-4"><a href="" class="text-dark">إتصل بنا</a></li>
                    </ul>
                </div>
                <ul class="list-unstyled">
                    <li class="my-4"><a href="#" class="text-dark">صالة العرض الإفتراضية</a></li>
                    <li class="my-4"><a href="" class="text-dark">ابحث عن مركز نيسان</a></li>
                    <li class="my-4"><a href="order-online.html" class="text-dark">اطلب سيارتك عبر الانترنت</a></li>
                    <li class="my-4"><a href="brochures.html" class="text-dark">تصفّح الكاتالوجات</a></li>
                    <li class="my-4"><a href="contact-fleet-sales.html" class="text-dark">مبيعات الشركات</a></li>
                    <li class="my-4"><a href="call-back.html" class="text-dark">طلب اتصال</a></li>
                    <li class="my-4"><a href="quote.html" class="text-dark">تصفّح الكاتالوجات</a></li>
                    <li class="my-4"><a href="home-service.html" class="text-dark">إطلب عرض أسعار</a></li>
                    <div class="row">
                        <div class="col-6">

                            <li class="my-4"><a href="index.html" class="text-dark lang-active">عربي</a></li>
                        </div>
                        <div class="col-6">

                            <li class="my-4"><a href="../index.html" class="text-dark">English</a></li>
                        </div>
                    </div>
                </ul>
            </div>
        </div> 
        <!-- end side menu -->
        
        <!-- start loader -->
        <div id="loader" class="loader">
            <img class="loader__img w-200" src="assets/img/nissan/White.png" alt="">
        </div>
        <!-- end loader -->
        
        <!-- start main-content -->
        <main>

            <!-- start header -->
            <header class="header text-center p-0">
                <div id="slider-image" data-provide="slider" dir="auto" data-as-nav-for="#slider-thumb">
                    <div class="p-2 h-800px" style="background-image: url(assets/img/banner/slider_1.jpg); background-size: 100% 100%;"></div>
                    <div class="p-2 h-800px" style="background-image: url(assets/img/banner/slider_2.jpg); background-size: 100% 100%;"></div>
                    <div class="p-2 h-800px" style="background-image: url(assets/img/banner/slider_3.jpg); background-size: 100% 100%;"></div>
                    <div class="p-2 h-800px" style="background-image: url(assets/img/banner/slider_4.jpg); background-size: 100% 100%;"></div>
                    <div class="p-2 h-800px" style="background-image: url(assets/img/banner/slider_5.jpg); background-size: 100% 100%;"></div>
                    
                </div>
                <div class="row justify-content-center no-gutters slider-position">
                    <div class="col-8">

                        <div id="slider-thumb" dir="auto" data-provide="slider" data-as-nav-for="#slider-image" data-slides-to-show="5" data-center-mode="true" data-dots="true" data-focus-on-select="true" class="slider__smallpics--position">
                            <div class=""><img class="cursor-pointer h-150px" src="assets/img/banner/slider_1.jpg"></div>
                            <div class=""><img class="cursor-pointer h-150px" src="assets/img/banner/slider_2.jpg"></div>
                            <div class=""><img class="cursor-pointer h-150px" src="assets/img/banner/slider_3.jpg"></div>
                            <div class=""><img class="cursor-pointer h-150px" src="assets/img/banner/slider_4.jpg"></div>
                            <div class=""><img class="cursor-pointer h-150px" src="assets/img/banner/slider_5.jpg"></div>
                        </div>
                    </div>
                </div>
            </header>
            <!-- end header -->


            <!-- section products  -->
            <section class="products mt-7">
                <div class="container">
                    <div data-provide="shuffle">

                        <nav class="nav nav-left nav-pills mb-5" data-shuffle="filter">
                            <a class="nav-link active" href="#" data-shuffle="button">جميع السيارات</a>
                            <a class="nav-link" href="#" data-shuffle="button" data-group="PASSENGER">سيارات الركاب</a>
                            <a class="nav-link" href="#" data-shuffle="button" data-group="SUVS">سيارات الدفع الرباعي</a>
                            <a class="nav-link" href="#" data-shuffle="button" data-group="COMMERCIAL">سيارات تجارية</a>
                        </nav>


                        <div class="row gap-y gap-2 shuffle" data-shuffle="list" >

                            <div class="col-6 col-lg-3" data-shuffle="item" data-groups="PASSENGER" style="position: absolute; top: 0px; left: 0px; visibility: visible; will-change: transform; opacity: 1; transition-duration: 500ms; transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); transition-property: transform, opacity;">
                                <img src="assets/img/products/Sunny.jpg" alt="screenshot">
                            </div>

                            <div class="col-6 col-lg-3" data-shuffle="item" data-groups="SUVS" >
                                <img src="assets/img/products/Qashqai.jpg" alt="screenshot">
                            </div>

                            <div class="col-6 col-lg-3" data-shuffle="item" data-groups="PASSENGER" >
                                <img src="assets/img/products/Sentra.jpg" alt="screenshot">
                            </div>

                            <div class="col-6 col-lg-3" data-shuffle="item" data-groups="SUVS">
                                <img src="assets/img/products/Juke.jpg" alt="screenshot">
                            </div>

                            <div class="col-6 col-lg-3" data-shuffle="item" data-groups="COMMERCIAL">
                                <img src="assets/img/products/Urvan.jpg" alt="screenshot">
                            </div>
                            <div class="col-6 col-lg-3" data-shuffle="item" data-groups="PASSENGER">
                                <img src="assets/img/products/side-new.jpg" alt="screenshot">
                            </div>

                            <div class="col-6 col-lg-3" data-shuffle="item" data-groups="COMMERCIAL">
                                <img src="assets/img/products/pickup-eg.jpg" alt="screenshot">
                            </div>

                            <div class="col-6 col-lg-3" data-shuffle="item" data-groups="COMMERCIAL">
                                <img src="assets/img/products/pickup-eg2.jpg" alt="screenshot">
                            </div>

                        </div>
                    </div>
                </div>
            </section>
            <!-- modal begin -->
            <div class="modal fade" id="quickview" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-body">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                            <div class="row align-items-center">
                                <div class="col-lg-6">
                                    <div id="slider-image" data-provide="slider" data-as-nav-for="#slider-thumb" data-autoplay-speed="1000" data-autoplay="true">
                                        <div class="p-2"><img class="w-100" src="assets/img/products/بسكويت كاكاو 12 قطعة.jpg"></div>
                                        <div class="p-2"><img class="w-100" src="assets/img/products/بسكويت كاكاو 12 قطعة.jpg"></div>
                                        <div class="p-2"><img class="w-100" src="assets/img/products/بسكويت كاكاو 12 قطعة.jpg"></div>
                                        
                                    </div>

                                    <div class="" id="slider-thumb" data-provide="slider" data-as-nav-for="#slider-image" data-slides-to-show="3" data-center-mode="true" data-focus-on-select="true">
                                        <div class="p-2"><img class="cursor-pointer" src="assets/img/products/بسكويت كاكاو 12 قطعة.jpg"></div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-12">
                                    <h3 class="mb-3">Classic Cocoa Cookie</h3>
                                    <div class="price d-flex">
                                        <h4 class="text-main font-weight-bold mr-3">EGP14</h4>
                                        <h4 class="font-weight-bold"><s>EGP50</s></h4>
                                    </div>
                                    <p class="mb-3">Classic Singles, which uses the same authentic Danish recipe using 100% butter with the flavor of Cocoa and it contains 12 cookies.</p>
                                    <div class="row no-gutters justify-content-between">
                                            <input class="form-control-sm w-60px" min="1" value="1" type="number">
                                            <button class="btn btn-main">Add to cart</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <!-- end products -->

            <!-- Start DISCOVER -->
            <section class="discover my-7">
                <div class="container">
                    <div class="row">

                        <div class="col-12">
                            
                            <div class="card bg-secondary text-center">
                                <div class="card-body">
                                    <h3 class="text-center">إكتشف سيارات نيسان</h3>
                                    <div class="row my-5">
                                        <div class="col-lg-4 col-12">
                                            <button class="btn btn-main btn-lg w-100">
                                                <div class="row">
                                                    <div class="col-10 text-right">
                                                        السيارات الجديدة
                                                    </div>
                                                    <div class="col-2">
                                                        <i class="fa fa-chevron-left" aria-hidden="true"></i>
                                                    </div>
                                                </div>
                                            </button>
                                        </div>
                                        <div class="col-lg-4 col-12">
                                            <button class="btn btn-main btn-lg w-100">
                                                <div class="row">
                                                    <div class="col-10 text-right">
                                                        العروض الخاصة
                                                    </div>
                                                    <div class="col-2">
                                                        <i class="fa fa-chevron-left" aria-hidden="true"></i>
                                                    </div>
                                                </div>
                                            </button>
                                        </div>
                                        <div class="col-lg-4 col-12">
                                            <button class="btn btn-main btn-lg w-100">
                                                <div class="row">
                                                    <div class="col-10 text-right">
                                                        أسطول الشركات
                                                    </div>
                                                    <div class="col-2">
                                                        <i class="fa fa-chevron-left" aria-hidden="true"></i>
                                                    </div>
                                                </div>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- End DISCOVER  -->
            
            <!-- start section what would you like -->
            <section class="you-like py-7">
                <div class="container">
                    <div class="row">
                        <div class="col-12 text-center">
                            <h3 class="my-6">إبدأ رحلتك مع نيسان</h3>
                        </div>
                        <div class="col-lg-3 animation-button-card">
                            <div class="row text-center">
                                <div class="col-12">
                                    <i class="fas fa-map-marker-alt text-main my-4 fa-2x"></i>
                                </div>
                                <div class="col-12">
                                    <p>ابحث عن مركز نيسان</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 animation-button-card">
                            <div class="row text-center">
                                <div class="col-12">
                                    <i class="fas fa-file-download text-main my-4 fa-2x"></i>
                                </div>
                                <div class="col-12">
                                    <p>تصفّح الكاتالوجات</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 animation-button-card">
                            <div class="row text-center">
                                <div class="col-12">
                                    <i class="fas fa-coins text-main my-4 fa-2x"></i>
                                </div>
                                <div class="col-12">
                                    <p>إطلب عرض سعر</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 animation-button-card">
                            <div class="row text-center">
                                <div class="col-12">
                                    <i class="fas fa-at text-main my-4 fa-2x"></i>
                                </div>
                                <div class="col-12">
                                    <p>إتصل بنا</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- End section what would you like -->

            <!-- start section what's new -->
            <section class="what-new">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <h3 class="heading">آخر الأخبار والأحداث</h3>
                        </div>
                        <div class="col-lg-4">
                            <div class="card">
                                <img class="card-img-top" src="assets/img/partnership.jpg" alt="">
                                <div class="card-body">
                                    <h6 class="card-title mb-0">الشراكات</h6>
                                    <h4 class="card-text">فخورون بشراكتنا مع UEFA دوري الأبطال</h4>
                                    <button class="btn p-0 btn-white">اقرأ المزيد<span class="text-danger"><i class="fa fa-chevron-left mr-2" aria-hidden="true"></i></span></button>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="card">
                                <img class="card-img-top" src="assets/img/future.jpg" alt="">
                                <div class="card-body">
                                    <h6 class="card-title mb-0">التنقل الذكي من نيسان</h6>
                                    <h4 class="card-text">تقنيات مستقبلية في سياراتنا اليوم</h4>
                                    <button class="btn p-0 btn-white">اقرأ المزيد<span class="text-danger"><i class="fa fa-chevron-left mr-2" aria-hidden="true"></i></span></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- end section what's new -->

            <!-- start sponsors methods -->
            <section class="nissan-social py-5">
                <div class="container">
                    <h3 class="heading my-5">نيسان والتواصل الإجتماعي</h3>
                    <div class="row ">
                        <div class="col-lg-4 col-12">
                            <div class="card border-1 p-3">
                                <img class="card-img-top" src="assets/img/social.jpg" alt="">
                                <div class="card-body">
                                    <h5 class="card-title font-weight-bold">NISSAN MOTOR EG</h5>
                                    <h6 class="text-gray-light">@NISSANMOTOREG</h6>
                                    <p class="card-text">نزل Nissan Owners App و استمتع بمزايا كتير زي انك تعرف مكان ركنتك بسهوله في اسرع وقت و في اي مكان و كمان حاجات تاني… <a href="" class="text-danger">https://t.co/3ZCmDGQr7B</a></p>
                                    <p class="text-gray-light">Dec 28, 2020</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-12">
                            <div class="card border-1 p-3">
                                <img class="card-img-top" src="assets/img/social.jpg" alt="">
                                <div class="card-body">
                                    <h5 class="card-title font-weight-bold">NISSAN MOTOR EG</h5>
                                    <h6 class="text-gray-light">@NISSANMOTOREG</h6>
                                    <p class="card-text">نزل Nissan Owners App و استمتع بمزايا كتير زي انك تعرف مكان ركنتك بسهوله في اسرع وقت و في اي مكان و كمان حاجات تاني… <a href="" class="text-danger">https://t.co/3ZCmDGQr7B</a></p>
                                    <p class="text-gray-light">Dec 28, 2020</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-12">
                            <div class="card border-1 p-3">
                                <img class="card-img-top" src="assets/img/social.jpg" alt="">
                                <div class="card-body">
                                    <h5 class="card-title font-weight-bold">NISSAN MOTOR EG</h5>
                                    <h6 class="text-gray-light">@NISSANMOTOREG</h6>
                                    <p class="card-text">نيسان التوربيني بتقدم أسعار تنافسية للتكلفة الإجمالية للصيانة #إحسبها_صح #نيسان … <a href="" class="text-danger">https://t.co/3ZCmDGQr7B</a></p>
                                    <p class="text-gray-light">Dec 28, 2020</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 text-center mt-5">
                            <button class="btn btn-main py-4 px-5">أظهر أكثر <i class="fa fa-plus text-white" aria-hidden="true"></i></button>
                        </div>
                    </div>
                </div>
                
            </section>
            <!-- end sponsors methods -->

        </main>
        <!-- main-content -->

        <!-- start bread-crumb -->
        <section class="bread-crumb">
            <div class="container py-4">
                <div class="row justify-content-between align-items-center">
                    <ul class="list-unstyled mb-0" id="translateBtn">
                        <li class="text-white">عربي<i class="fa fa-chevron-down mr-3 toggle-arrow text-main " aria-hidden="true"></i></li>
                    </ul>
                </div>
                <div class="row justify-content-start" id="translateBody">
                    <ul class="list-unstyled my-3">
                        <li><a href="../index.html" class="text-white">English</a></li>
                    </ul>
                </div>
            </div>
        </section>
        <!-- end bread-crumb -->

        <!-- Start footer -->
        <footer class="footer text-white border-0 py-7" data-overlay="8">
            <div class="container">
                <div class="row">

                    <div class="col-md-3">
                        <h4 class="mb-4 fs-20"><strong>تواصل معنا</strong></h4>
                        <div class="nav flex-column">
                            <p><a href="">خدمة العملاء</a></p>
                            <p><a href="">مبيعات الشركات</a></p>
                            <p><a href="">معلومات الاستدعاء (Recall)</a></p>
                            <p><a href="">الشكاوي</a></p>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-3">
                        <h4 class="mb-4 fs-20"><strong>السيارات</strong></h4>
                        <div class="nav flex-column">
                            <a class="nav-link" href="../demo/Cateogry-1.html">سيارات جديدة</a>
                            <a class="nav-link" href="../demo/Cateogry-2.html">تصفّح الكاتالوجات</a>
                            
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3">
                        <h4 class="mb-4 fs-20"><strong>أدوات التسوق</strong></h4>
                        <div class="nav flex-column">
                            
                                <li><a href="#">صالة العرض الإفتراضية</a></li>
                                <li><a href="#">ابحث عن مركز نيسان</a></li>
                                <li><a href="order-online.html">اطلب سيارتك عبر الانترنت</a></li>
                                <li><a href="brochures.html">تصفّح الكاتالوجات</a></li>
                                <li><a href="contact-fleet-sales.html">مبيعات الشركات</a></li>
                                <li><a href="call-back.html">طلب اتصال</a></li>
                                <li><a href="quote.html">تصفّح الكاتالوجات</a></li>
                                <li><a href="home-service.html">إطلب عرض أسعار</a></li>
                            
                        </div>
                    </div>

                    <div class="col-sm-12 col-lg-3 widget-area">
                        <div class="widget flicker_widget clearfix">
                            <h4 class="mb-4 fs-20">نيسان والتواصل الإجتماعي</h4>
                            <div class="textwidget widget-text">
                                    <div class="social social-sm social-bg-brand social-cycling mt-6">
                                        <a class="social-facebook" href="#"><i class="fab fa-facebook-f"></i></a>
                                        <a class="social-twitter" href="#"><i class="fab fa-twitter"></i></a>
                                        <a class="social-youtube" href="#"><i class="fab fa-youtube"></i></a>
                                        <a class="social-instagram" href="#"><i class="fab fa-instagram"></i></a>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>           
        </footer>
        <footer class="bg-dark py-4">
            <div class="container">
                    <div class="row no-gutters align-items-center">
                    
                        <div class="col-md-6 text-center">
                            <div class="row no-gutters">
                                
 


                                <p class="mb-0 mx-3">لمواقع عالمية</p>
                                <p class="mb-0 mx-3">الأخبار</p>
                            </div>
                        </div>
                        <div class="col-md-6 text-center">
                            <div class="row no-gutters">
                                
                                <p class="mb-0">الخصوصية و الشروط القانونية</p>
                                <p class="mb-0 mx-3"> Nissan 2021&copy;</p>
                            </div>
                        </div>
                    </div>
            </div>
        </footer>
        <!-- end footer -->

    <!-- script -->
    <script src="assets/js/page.min.js"></script>
    <script src="assets/js/script-ar.js"></script>
    
    </body>
</html>