<!DOCTYPE html>
<html lang="ar">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="keywords" content="">

        <title>Home</title>

        <!-- Styles -->
        <link href="css/page.min.css" rel="stylesheet">
        <link href="css/all.min.css" rel="stylesheet">
        <link href="css/style-ar.css" rel="stylesheet">

        <!-- Favicons -->
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=El+Messiri&display=swap" rel="stylesheet">
        <link rel="apple-touch-icon" href="img/apple-touch-icon.png">
        <link rel="icon" href="img/favicon.png">

    <body class="demo-navbar">

        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-light bg-main navbar-stick-dark" data-navbar="sticky">
            <div class="container">

                
                <div class="navbar-left">
                    <a class="navbar-brand" href="#">
                        <img class="logo" src="../assets/img/Logo/Logo.png" alt="logo">
                    </a>
                </div>
                <div class="navbar-right">
                    <button class="navbar-toggler" type="button">&#9776;</button>
                </div>
                <section class="navbar-mobile">
                    <nav class="nav nav-navbar mx-auto mt-nav">
                        <li class="nav-item active">
                        <a class="nav-link" href="#"> الانواع<span class="arrow"></span></a>
                            <ul class="nav">
                                <li class="nav-item">
                                    <a class="nav-link" href="#">كلاسيك <span class="arrow"></span></a>
                                    <nav class="nav navbar__long">
                                        <div class="row no-gutters">
                                            <div class="col-md-6 col-12">
                                                <a class="nav-link" href="../demo/Cateogry-1.html">كوكيز الزبدة كلاسيك</a>
                                            </div>
                                            <div class="col-md-6 col-12">
                                                <a class="nav-link" href="../demo/Cateogry-1.html">سنجل كلاسيك</a>
                                            </div>
                                            <div class="col-md-6 col-12">
                                                <a class="nav-link" href="../demo/Cateogry-1.html">بسكوت الشاي كلاسيك</a>
                                            </div>
                                            <div class="col-md-6 col-12">
                                                <a class="nav-link" href="../demo/Cateogry-1.html">بسكوت قمح الشاي كلاسيك</a>
                                            </div>
                                            <div class="col-md-6 col-12">
                                                <a class="nav-link" href="../demo/Cateogry-1.html">كوكيز الزبدة كلاسيك</a>
                                            </div>
                                            <div class="col-md-6 col-12">
                                                <a class="nav-link" href="../demo/Cateogry-1.html">سنجل كلاسيك</a>
                                            </div>
                                            <div class="col-md-6 col-12">
                                                <a class="nav-link" href="../demo/Cateogry-1.html">بسكوت الشاي كلاسيك</a>
                                            </div>
                                            <div class="col-md-6 col-12">
                                                <a class="nav-link" href="../demo/Cateogry-1.html">بسكوت قمح الشاي كلاسيك</a>
                                            </div>
                                        
                                           
                                        </div>
                                        <!-- <a class="nav-link" href="../demo/Cateogry-2.html">Classic Collection</a>
                                        <a class="nav-link" href="../demo/Cateogry-3.html">Classic Singles</a>
                                        <a class="nav-link" href="../demo/Cateogry-4.html">Classic Tea Biscuits</a>
                                        <a class="nav-link" href="../demo/Cateogry-4.html">Classic DigestiveClassic Tea Biscuits</a> -->
                                    </nav>
                                </li>
                            </ul>
                        </li>
                        <a class="nav-link " href="index.html">الرئيسية</a>
                        <a class="nav-link" href="products.html">المتجر</a>
                    </nav>

                        
                    <div class="d-flex mt-nav">
                        <a class="nav-link" id="cart-btn" href="#">
                            <i class="fa fa-shopping-cart text-white"></i>
                            <span class="badge badge-number badge-danger">4</span>
                        </a>
                        <a class="btn btn-sm btn-round btn-main text-white mr-2 mt-2" href="signin.html">تسجيل دخول</a>
                        <a class="btn btn-sm btn-round btn-main text-white mt-2" href="../index.html">English</a>
                        
                    </div>
                </section>

            </div>
        </nav>
        <!-- navbar -->
        
        <!-- start loader -->
        <div id="loader" class="loader">
            <img class="loader__img w-200" src="../assets/img/Logo/loader.png" alt="">
        </div>
        <!-- end loader -->
        
        <!-- start main-content -->
        <main>

            <!-- start header -->
            <header class="header text-center p-0">
                <div data-provide="slider" data-autoplay="true" data-arrows="true" dir="ltr">
                    
                    <div><img class="h-620px w-100 mt-2" src="../assets/img/banner/Slider1.png"></div>
                    <div><img class="h-620px w-100 mt-2" src="../assets/img/banner/3.png"></div>

                </div>
            </header>
            <!-- end header -->

            <!-- start full width ads -->
            <section class="ad pt-1">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8 col-12">
                            <img class="h-90px w-100" src="../assets/img/720-90.png" alt="">
                        </div>
                    </div>
                </div>
            </section>
            <!-- end full width ads -->

            <!-- section products  -->
            <section class="products">
                <div class="container-fluid">
                    <h2 class="heading">منتجاتنا</h2>
                    <div dir="ltr" class="slider-arrows-circle-dark text-center" data-provide="slider" data-slides-to-show="4" data-arrows="true" data-autoplay-speed="1000" data-autoplay="true">
                        <div class="p-2 meduim-banner-size" >
                            <div class="products__card product-3 mb-3">
                                <a class="product-media" href="#">
                                    <span class="badge py-4 px-3 bg-main text-white badge-pos-right font-weight-bold"> 14</span>
                                    <img class="h-150px w-100 img1" src="../assets/img/products/بسكويت كاكاو 12 قطعة.jpg" alt="">
                                    <!-- <img class="h-150px w-100 img2" src="img/products/classic bisquites white background2154.jpg" alt="">                                </a> -->
                                <div class="products__controls">
                                    <ul class="list-unstyled justify-content-center">
                                        <li><button class="btn px-3 btn-white" data-toggle="modal" data-target="#quickview"><i class="fa fa-search" aria-hidden="true"></i></button></li>
                                        <li><button class="btn px-3 btn-white"><i class="fa fa-cart-plus" aria-hidden="true"></i></button></li>
                                    </ul>
                                </div>
                                <div class="product-detail">
                                    <h6><a href="#">بسكويت كلاسيك كاكاو</a></h6>
                                <p class="font-weight-bold">السعر : 14 جنيه</p>
                                </div>
                            </div>
                        </div>
                        
                        <div class="p-2 meduim-banner-size">
                            <div class="products__card product-3 mb-3">
                                <a class="product-media" href="#">
                                    <span class="badge py-4 px-3 bg-main text-white badge-pos-right font-weight-bold">36 </span>
                                    
                                    <img class="h-150px w-100 img1" src="../assets/img/products/بوكيت كاكاو.jpg" alt="">
                                    <!-- <img class="h-150px w-100 img2" src="img/products/classic bisquites white background2154.jpg" alt=""> -->
                                </a>
                                <div class="products__controls">
                                    <ul class="list-unstyled justify-content-center">
                                        <li><button class="btn px-3 btn-white" data-toggle="modal" data-target="#quickview"><i class="fa fa-search" aria-hidden="true"></i></button></li>
                                        <li><button class="btn px-3 btn-white"><i class="fa fa-cart-plus" aria-hidden="true"></i></button></li>
                                    </ul>
                                </div>
                                <div class="product-detail">
                                    <h6><a href="#">بسكويت بوكيت كاكاو</a></h6>
                                    <p class="font-weight-bold">السعر : 36 جنيه</p>
                                </div>
                            </div>
                        </div>
                        
                        <div class="p-2 meduim-banner-size">
                            <div class="products__card product-3 mb-3">
                                <a class="product-media" href="#">
                                    <span class="badge py-4 px-3 bg-main text-white badge-pos-right font-weight-bold">37 </span>
                                    <img class="h-150px w-100" src="../assets/img/products/دانش فانيليا.jpg" alt="product">
                                </a>
                                <div class="products__controls">
                                    <ul class="list-unstyled justify-content-center">
                                        <li><button class="btn px-3 btn-white" data-toggle="modal" data-target="#quickview"><i class="fa fa-search" aria-hidden="true"></i></button></li>
                                        <li><button class="btn px-3 btn-white"><i class="fa fa-cart-plus" aria-hidden="true"></i></button></li>
                                    </ul>
                                </div>
                                <div class="product-detail">
                                    <h6><a href="#">بسكويت دانش فانيليا</a></h6>
                                <p class="font-weight-bold">السعر : 37 جنيه</p>
                                </div>
                            </div>
                        </div>
                        
                        <div class="p-2 meduim-banner-size">
                            <div class="products__card product-3 mb-3">
                                <a class="product-media" href="#">
                                    <span class="badge py-4 px-3 bg-main text-white badge-pos-right font-weight-bold">146 </span>
                                    <img class="h-150px w-100" src="../assets/img/products/كلاسيك 908  جم زبدة.jpg" alt="product">
                                </a>
                                <div class="products__controls">
                                    <ul class="list-unstyled justify-content-center">
                                        <li><button class="btn px-3 btn-white" data-toggle="modal" data-target="#quickview"><i class="fa fa-search" aria-hidden="true"></i></button></li>
                                        <li><button class="btn px-3 btn-white"><i class="fa fa-cart-plus" aria-hidden="true"></i></button></li>
                                    </ul>
                                </div>
                                <div class="product-detail">
                                    <h6><a href="#">بسكويت كلاسيك زبدة</a></h6>
                                    <p class="font-weight-bold">السعر : 146 جنيه</p>
                                </div>
                            </div>
                        </div>
                        
                    </div>    
                </div>
            </section>
            <!-- modal begin -->
            <div class="modal fade" id="quickview" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-body">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                            <div class="row align-items-center">
                                <div class="col-lg-6">
                                    <div id="slider-image" data-provide="slider" data-as-nav-for="#slider-thumb" data-autoplay-speed="1000" data-autoplay="true">
                                        <div class="p-2"><img class="w-100" src="img/products/بسكويت كاكاو 12 قطعة.jpg"></div>
                                        <div class="p-2"><img class="w-100" src="img/products/بسكويت كاكاو 12 قطعة.jpg"></div>
                                        <div class="p-2"><img class="w-100" src="img/products/بسكويت كاكاو 12 قطعة.jpg"></div>
                                        
                                    </div>

                                    <div class="" id="slider-thumb" data-provide="slider" data-as-nav-for="#slider-image" data-slides-to-show="3" data-center-mode="true" data-focus-on-select="true">
                                        <div class="p-2"><img class="cursor-pointer" src="img/products/بسكويت كاكاو 12 قطعة.jpg"></div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-12">
                                    <h3 class="mb-3">Classic Cocoa Cookie</h3>
                                    <div class="price d-flex">
                                        <h4 class="text-main font-weight-bold mr-3">EGP14</h4>
                                        <h4 class="font-weight-bold"><s>EGP50</s></h4>
                                    </div>
                                    <p class="mb-3">Classic Singles, which uses the same authentic Danish recipe using 100% butter with the flavor of Cocoa and it contains 12 cookies.</p>
                                    <div class="row no-gutters justify-content-between">
                                            <input class="form-control-sm w-60px" min="1" value="1" type="number">
                                            <button class="btn btn-main">Add to cart</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <!-- end products -->

            <!-- start counter -->
            <section class="counter bg-main my-3 py-9" style="background-image: linear-gradient( to top , rgba(0,0,0,0.3) ,  rgba(0,0,0,0.1)) , url(../assets/img/banner/Slider\ 2.png); background-size: 100% 100%; background-attachment: fixed;">
                <div class="container">
                    <div class="row gap-y text-center ">

                        <div class="col-6 col-lg-3">
                            <p class="lead-8 mb-0 text-black" data-provide="countup" data-from="0" data-to="100"></p>
                            <p class="text-uppercase fw-700 ls-2 text-black">عملاء</p>
                        </div>

                        <div class="col-6 col-lg-3">
                            <p class="lead-8 mb-0 text-black" data-provide="countup" data-from="0" data-to="250"></p>
                            <p class="text-uppercase  fw-700 ls-2 text-black">منتجات</p>
                        </div>

                        <div class="col-6 col-lg-3">
                            <p class="lead-8 mb-0 text-black" data-provide="countup" data-from="0" data-to="330"></p>
                            <p class="text-uppercase fw-700 ls-2 text-black">المراجعات</p>
                        </div>

                        <div class="col-6 col-lg-3">
                            <p class="lead-8 mb-0 text-black" data-provide="countup" data-from="0" data-to="430"></p>
                            <p class="text-uppercase fw-700 ls-2 text-black">العملاء السعداء</p>
                        </div>

                    </div>
                </div>
            </section>
            <!-- end counter -->
            
            <!-- start section deals -->
            <section class="deals"> 
                <h2 class="heading">عروضنا</h2>
                <div class="container-fluid">
                    <div class="row align-items-center">
                        <div class="col-xl-3 col-12 deals__resposnive text-center">
                            <img class="meduim-banner-size" src="../assets/img/300-250.png">
                        </div>
                        <div class="col-xl-9 col-12">
                            <div dir="ltr" class="slider-arrows-circle-dark text-center" data-provide="slider" data-autoplay="true" data-slides-to-show="3" data-arrows="true">
                                <div class="px-2 meduim-banner-size">
                                    <div class="product-3   mb-3">
                                        <a class="product-media" href="#">
                                            <span class="badge py-4 px-3 bg-gold text-white badge-pos-left">ذهبي</span>
                                            <img class="h-150px w-100" src="../assets/img/products/بسكويت كاكاو 12 قطعة.jpg" alt="product">
                                        </a>

                                        <div class="product-detail">
                                            <h6><a href="#">بسكويت بوكيت كاكاو</a></h6>
                                            <p class="font-weight-bold">السعر : 36 جنيه</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="px-2 meduim-banner-size">
                                    <div class="product-3  mb-3">
                                        <a class="product-media" href="#">
                                            <img class="h-150px w-100" src="../assets/img/products/بوكيت كاكاو.jpg" alt="product">
                                        </a>

                                        <div class="product-detail">
                                            <h6><a href="#">بسكويت بوكيت كاكاو</a></h6>
                                            <p class="font-weight-bold">السعر : 36 جنيه</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="px-2 meduim-banner-size">
                                    <div class="product-3  mb-3">
                                        <a class="product-media" href="#">
                                            <img class="h-150px w-100" src="../assets/img/products/دانش فانيليا.jpg" alt="product">
                                        </a>

                                        <div class="product-detail">
                                            <h6><a href="#">بسكويت دانش فانيليا</a></h6>
                                            <p class="font-weight-bold">السعر : 37 جنيه</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="px-2 meduim-banner-size">
                                    <div class="product-3  mb-3">
                                        <a class="product-media" href="#">
                                            <img class="h-150px w-100" src="../assets/img/products/كلاسيك 908  جم زبدة.jpg" alt="product">
                                        </a>

                                        <div class="product-detail">
                                            <h6><a href="#">بسكويت كلاسيك زبدة</a></h6>
                                            <p class="font-weight-bold">السعر : 146 جنيه</p>
                                        </div>
                                    </div>
                                </div>
                                
                        
                            </div>   
                        </div>
                    </div>
                    
                </div>
            </section>
            <!-- end section deals -->


            <!-- start section advantages -->
            <section class="advantages text-black">
                <h2 class="heading">مميزاتنا</h2>
                <div class="container">
                    <!-- <div class="row align-items-center">
                        <div class="col-lg-4 col-12">
                            <div class="card mb-3">
                                <div class="row no-gutters align-items-center">
                                    <div class="col-md-10">
                                        <div class="card-body">
                                            <h5 class="card-title fw-700">Organic</h5>
                                            <p class="card-text">نستخدم مكونات عضوية في جميع منتجاتنا لنوفر لعملائنا منتجات لذيذة وعالية الجودة</p>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <img src="img/organic.png" alt="">
                                    </div>
                                </div>
                                <hr class="my-3">
                                <div class="row no-gutters align-items-center">
                                    <div class="col-md-10">
                                        <div class="card-body">
                                            <h5 class="card-title fw-700">Technology:</h5>
                                            <p class="card-text">نستخدم أحدث الآلات والتقنيات لنقدم لكم منتجات فريدة ذات مذاق فريد.</p>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <img src="img/tech.png" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-12">
                            <img class="card-img" src="img/Classic Photos 1/classic setup foodphotography2226.jpg" alt="">
                        </div>
                        <div class="col-lg-4 col-12">
                            <div class="card mb-3">
                                <div class="row no-gutters align-items-center">
                                    <div class="col-md-2">
                                        <img src="img/heart.png" alt="">
                                    </div>
                                    <div class="col-md-10">
                                        <div class="card-body">
                                            <h5 class="card-title fw-700">Healthy:</h5>
                                            <p class="card-text">نقدم لك مجموعة كبيرة من المنتجات الصحية دون استخدام الزيوت المهدرجة أو المواد الحافظة</p>
                                        </div>
                                    </div>
                                    
                                </div>
                                <hr class="my-3">
                                <div class="row no-gutters align-items-center">
                                    <div class="col-md-2">
                                        <img src="img/cookies.png" alt="">
                                    </div>
                                    <div class="col-md-10">
                                        <div class="card-body">
                                            <h5 class="card-title fw-700">Diversity:</h5>
                                            <p class="card-text">نقدم مجموعة متنوعة من المنتجات مثل بسكويت الزبدة وبسكويت الشاي وبسكويت رقائق الشوكولاتة وبسكويت دايجستيف</p>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div> -->
                    <div class="row">
                        <div dir="ltr" class="col-lg-8 mx-auto">

                            <ol class="timeline">
                                    <li class="timeline-item">
                                        <div class="row justify-content-between align-items-center no-gutters">
                                            <h4 class="fw-700 ml-4">طبيعي</h4>
                                            <img src="../assets/img/organic.png" alt="">

                                        </div>
                                            <p class="card-text">نستخدم منتجات ومكونات طبيعية لنقدم لكم أفضل وأشهى المنتجات</p>
                                    </li>

                                    <li class="timeline-item">
                                        <div class="row justify-content-between align-items-center no-gutters">
                                            <img class="mr-3" src="../assets/img/heart.png" alt="">

                                            <h4 class="fw-700 mr-6">صحي</h4>

                                        </div>
                                        <p class="card-text">نقدم لكم منتجات متنوعة بكونات صحية خالية من الزيوت المهدرجة والمواد الحافظة</p>
                                    </li>

                                    <li class="timeline-item">
                                        <div class="row justify-content-between align-items-center no-gutters">
                                            <h4 class="fw-700">تنوع</h4>

                                            <img class="" src="../assets/img/cookies.png" alt="">
                                        </div>
                                        <p class="card-text">نقدم لكم منتجات متنوعة "بسكويت بالزبدة، بسكويت بالشوكولاتة، بسكويت شاي وبسكويت بالشوفان والدايجستف</p>
                                    </li>

                                    <li class="timeline-item">
                                        <div class="row justify-content-between align-items-center no-gutters">
                                            <img src="../assets/img/tech.png" alt="">

                                            <h4 class="fw-700 mr-3">تكنولوجيا</h4>

                                        </div>
                                        <p class="card-text">نستخدم أحدث الأجهزة والمعدات ووسائل التصنيع لنقدم لكم منتجات مميزة ذات طعم مميز وجودة عالية</p>
                                    </li>
                            </ol>

                        </div>
                    </div>
                    
                </div>

            </section>
            <!-- end section advantages -->

            <!-- start sponsors methods -->
            <section class="sponsors">
                <h2 class="heading my-5">شركائنا</h2>
                <div class="container">
                    <div class="text-center" data-provide="slider" data-slides-to-show="4" data-autoplay="true" dir="ltr">
                        <div class="p-2"><img src="../assets/img/visa-payement.png"></div>
                        <div class="p-2"><img src="../assets/img/fawry-en.png"></div>
                        <div class="p-2"><img src="../assets/img/bee.jpg"></div>
                        <div class="p-2"><img src="../assets/img/aman.png"></div>
                    </div>
                </div>
                
            </section>
            <!-- end sponsors methods -->

        </main>
        <!-- main-content -->

        <!-- start cart extension -->
        <div class="cart" id="cart">
            <div id="cart__options">
                <div class="row no-gutters justify-content-between">
                    <h2 class="mb-0">السلة</h2>
                    <button id="x-cart-btn" class=" btn btn-white text-black mb-0">X</button>
                </div>
			    <hr class="mt-3 mb-5">
                <div class="row">
                    <div class="col-4 text-center">
                        <img src="../assets/img/products/بسكويت كاكاو 12 قطعة.jpg" alt="">
                    </div>
                    <div class="col-4 text-center">
                        <p class="mb-0">بسكويت كلاسيك كاكاو</p>
                        <h6>1 x</h6>
                        <h6>37 جنيه</h6>
                    </div>
                    <div class="col-4 text-center">
                        <h5><i class="fa fa-trash" aria-hidden="true"></i></h5>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-4 text-center">
                        <img src="../assets/img/products/بوكيت كاكاو.jpg" alt="">
                    </div>
                    <div class="col-4 text-center">
                        <p class="mb-0">بسكويت بوكيت كاكاو</p>
                        <h6>1 x</h6>
                        <h6>37 جنيه</h6>
                    </div>
                    <div class="col-4 text-center">
                        <h5><i class="fa fa-trash" aria-hidden="true"></i></h5>
                    </div>
                </div>
                <hr>
                <div class="row no-gutters justify-content-between">
                    <p> الموجموع الفرعي</p>
                    <p class="fs-18 fw-700">900 جنيه</p>
                </div>
                <div class="row no-gutters justify-content-between">
                    <p>المجموع</p>
                    <p class="fs-18 fw-700">900 جنيه</p>
                </div>
                <button class="btn btn-secondry btn-block"><i class="fa fa-cart-plus ml-3" aria-hidden="true"></i>انظر السلة</button>
                <button class="btn btn-secondry btn-block"><i class="fa fa-caret-square-o-right ml-3" aria-hidden="true"></i>ادفع</button>
            </div>
        </div> 
        <!-- End cart extension -->

        <!-- Start footer -->
        <footer class="footer text-white bg-dark border-0 py-6" data-overlay="8">
            <div class="container">
                <div class="row">

                    <div class="col-md-6">
                        <h3 class="mb-4"><strong>عن شركتنا</strong></h3>
                        <div class="nav flex-column">
                            <p>شركة كلاسيك للأغذية تقدم منتج كلاسيك في مصر والشرق الأوسط... وتقدم منتجات متنوعة "بسكويت بالزبدة، بسكويت بالشوكولاتة، بسكويت شاي وبسكويت بالشوفان والدايجستف"... وتطمح الشركة لتكون الرائدة في مجال صناعة البسكويت والكوكيز في مصر.</p>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6">
                        <h3 class="mb-4"><strong>الفئات</strong></h3>
                        <div class="nav flex-column">
                            <a class="nav-link" href="../demo/Cateogry-1.html">كوكيز الزبدة كلاسيك</a>
                            <a class="nav-link" href="../demo/Cateogry-2.html">مجموعة كلاسيك</a>
                            <a class="nav-link" href="../demo/Cateogry-3.html">سنجل كلاسيك</a>
                            <a class="nav-link" href="../demo/Cateogry-4.html">بسكوت الشاي كلاسيك</a>
                            <a class="nav-link" href="../demo/Cateogry-4.html">بسكوت قمح الشاي كلاسيك</a>
                        </div>
                    </div>

                    <div class="col-sm-12 col-lg-3 widget-area">
                        <div class="widget flicker_widget clearfix">
                            <h3 class="mb-4">اتصل بنا</h3>
                            <div class="textwidget widget-text">
                                    <ul class="list-unstyled px-0">
                                        <li class="mb-1"><i class="fa fa-map ml-2 text-primary" aria-hidden="true"></i>السادس من اكتوبر المنطقة الصناعية الثانية تقاطع 16 و 25</li>
                                        <li class="mb-1"><i class="fa fa-phone-alt ml-2 text-primary" aria-hidden="true"></i>+20238202687</li>
                                        <li class="mb-1"><i class="fa fa-envelope ml-2 text-primary" aria-hidden="true"></i>info@classicfoods.com.eg</li>
                                    </ul>
                                    <div class="social">
                                        <a class="social-facebook border rounded-circle" href="#"><i class="fab fa-facebook-f"></i></a>
                                        <a class="social-twitter border rounded-circle" href="#"><i class="fab fa-twitter"></i></a>
                                        <a class="social-youtube border rounded-circle" href="#"><i class="fab fa-youtube"></i></a>
                                        <a class="social-instagram border rounded-circle" href="#"><i class="fab fa-instagram"></i></a>
                                    </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="row mt-5 align-items-center">


                    


                    <div class="col-md-12 text-center">
                        <p class="mb-0 text-center">  جميع الحقوق محفوظة لشركة <a href="" class="text-primary"><img class="w-50px" src="../assets/img/digital-logo.png" alt=""></a>&COPY; 2021</p>
                    </div>


                </div>
            </div>

            
        </footer>
        <!-- end footer -->

    <!-- script -->
    <script src="js/page.min.js"></script>
    <script src="js/script-ar.js"></script>

    </body>
</html>