html {
  direction: rtl;
}

:dir {
  direction: rtl;
}

body {
  font-family: "Nissan Bold", "Nissan Regular", Verdana, Arial, sans-serif !important;
  text-align: right;
}

.text-dark {
  color: #343434 !important;
}

.vh-95 {
  height: 95vh;
}

.btn-vedio-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.slick-dots {
  bottom: 10px !important;
}

.fs-25 {
  font-size: 25px;
}

.fs-35 {
  font-size: 35px;
}

.fs-40 {
  font-size: 40px;
}

.fs-50 {
  font-size: 50px;
}

.text-darklight {
  color: #666;
}

.img-refresh {
  object-fit: cover;
  object-position: left;
}

.h-80px {
  height: 80px !important;
}

.h-90px {
  height: 90px !important;
}

.h-100 {
  height: 100%;
}

.h-100px {
  height: 100px !important;
}

.h-150px {
  height: 151px;
}

.h-200px {
  height: 200px;
}

.h-250px {
  height: 250px;
}

.h-500px {
  height: 500px;
}

.h-600px {
  height: 600px;
}

.h-620px {
  height: 620px;
}

.h-800px {
  height: 800px;
}

.w-70px {
  width: 70px;
}

.w-50px {
  width: 50px;
}

.w-380 {
  width: 380px;
}

.mt-nav {
  margin-top: 25px;
}

.card-overlay {
  background-color: rgba(0, 0, 0, 0.6);
}

.min-height-vehicles {
  min-height: 100px;
}

.register-card {
  width: 750px;
}

.border-1 {
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.border-2 {
  border: 2px solid rgba(0, 0, 0, 0.2);
}

.border-dashed {
  border-top: 1px dashed #777;
}

.img-profile {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.navbar {
  top: 0;
  box-shadow: 0 4px 9px rgba(0, 0, 0, 0.05);
}

.navbar__responsive__li {
  display: none;
}

@media screen and (max-width: 768px) {
  .navbar__responsive__li {
    display: block;
  }
}

.nav-navbar .nav-link {
  font-size: .95rem;
}

.nav-navbar .nav {
  min-width: 13.7rem;
}

.nav-navbar .nav .nav-link {
  font-weight: 700;
  color: #343434;
  padding: .75rem 1.5rem;
}

.badge-pos-right {
  top: 1rem !important;
  right: 1rem !important;
  z-index: 20 !important;
}

.badge-pos-left {
  top: 1rem !important;
  left: 1rem !important;
  z-index: 20 !important;
}

.text-main {
  color: #c3002f !important;
}

.bg-orginial-gray {
  background-color: #ccc;
}

.bg-gold {
  background-color: #dfa743;
}

.bg-main {
  background-color: #c3002f;
}

.bg-orange-light {
  background-color: orange;
}

.bg-gray-light {
  background-color: #8a8a8a !important;
}

.bg-gray-dark {
  background-color: #8a8a8a !important;
}

.text-gray-light {
  color: #8a8a8a !important;
}

.bg-gradient {
  background-image: linear-gradient(to left bottom, #ffc3aa, #ffd1ae, #ffe0b4, #ffefbf, #fffdcc);
}

.text-black {
  color: #000;
}

.text-graylight {
  color: #cccccc;
}

.text-darkgray {
  color: #88888899;
}

.hr-gray {
  height: 1px;
  width: 1px;
  background: #ccc;
}

.hr-gray-100 {
  height: 1px;
  width: 100%;
  background-color: #ccc;
}

.btn-main {
  background-color: #c3002f;
  color: #fff;
}

.btn-main:hover {
  color: #fff;
}

.btn-secondry {
  background-color: #cccccc;
  color: #000;
}

.btn-outline-black {
  border: 3px solid #fff;
}

.btn-outline-main {
  color: #c3002f !important;
  background: transparent;
  border: 2px solid #c3002f;
}

.btn-outline-main:hover {
  background-color: #c3002f;
  color: #fff !important;
}

.border-main {
  border: 2px solid #c3002f !important;
}

.badge-main {
  background-color: #c3002f;
  color: #fff;
}

.border-rounded {
  border: 1px white solid;
  border-radius: 10rem;
}

.border-gray {
  border: 1px #cccccc solid;
  border-radius: 10px;
}

.card-img {
  height: 300px;
}

.w-50px {
  min-width: 50px;
  max-width: 55px;
}

.heading {
  font-size: 36px;
  margin-bottom: 30px;
  font-weight: 300;
}

.heading::before {
  content: "";
  display: block;
  height: 6px;
  width: 50px;
  background-color: #c3002f;
}

.heading-center {
  font-size: 2rem;
  margin-bottom: 30px;
  font-weight: 400;
  text-align: center;
}

.heading-center::before {
  content: "";
  display: block;
  height: 6px;
  width: 50px;
  margin: auto;
  background-color: #c3002f;
}

.nav-tabs {
  border-bottom: 0;
}

.nav-tabs:hover {
  border-bottom: 0;
}

.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
  color: #c3002f;
  background-color: #fff;
  border-color: #fff;
  border-bottom: 2px solid #c3002f;
}

.nav-tabs .nav-link.active:hover, .nav-tabs .nav-item.show .nav-link:hover {
  color: #000;
}

.nav-tabs .nav-link {
  padding: .5rem 2rem;
}

.nav-tabs .nav-link:hover {
  text-decoration: none;
  color: #000;
}

.nav-pills .nav-link.active {
  color: #c3002f;
  background-color: #fff;
}

.nav-pills .nav-link:hover {
  color: #c3002f;
}

.dropdown .dropdown-menu {
  padding: 0;
}

.dropdown .dropdown-menu .nav-pills .nav-link {
  padding: 5px 20px;
}

.dropdown .dropdown-menu .nav-pills .nav-link.active, .dropdown .dropdown-menu .nav-pills .show > .nav-link {
  border-left: 2px solid #c3002f;
  color: #000;
  background-color: #fff;
}

.navbar {
  box-shadow: none;
}

.navbar__long {
  width: 400px;
}

.navbar .navbar-left .navbar-brand .logo {
  height: 85px;
}

.discover .card .card-body {
  padding: 2.5rem 5rem;
}

@media screen and (max-width: 800px) {
  .discover .card .card-body {
    padding: 2.5rem 1rem;
  }
}

.vehicles .nav-pills .nav-link.active {
  background-color: #343434;
  color: #fff;
  position: relative;
}

.vehicles .nav-pills .nav-link.active::after {
  content: "\2713";
  color: #fff;
  left: 7px;
  font-size: 15px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.vehicles .nav-pills .nav-link:hover {
  background-color: #343434;
  color: #fff;
}

.vehicles .nav-pills .nav-link {
  border: 1px solid #343434;
  color: #343434;
  padding-left: 25px;
}

.icon-hover:hover {
  cursor: pointer;
  color: #c3002f;
}

.text-hover:hover {
  cursor: pointer !important;
  color: #c3002f !important;
}

.virtual .padding-100-x {
  padding: 0 100px;
}

@media screen and (max-width: 800px) {
  .virtual .padding-100-x {
    padding: 30px;
  }
}

.download__button::after {
  display: block;
  content: '';
  border-bottom: 3px solid #c3002f;
  transform: scaleX(0);
  transition: transform 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  position: static;
  width: 100%;
}

.download:hover {
  transform: scaleX(1) !important;
}

.welcome-back__overlay {
  background-color: rgba(0, 0, 0, 0.5);
}

.welcome-back__overlay .card-body h5 {
  font-size: 30px;
  font-weight: 400;
}

.bread-crumb {
  background-color: #343434;
}

.bread-crumb .breadcrumb-item a:hover {
  color: #c3002f;
  text-decoration: underline;
}

.bread-crumb li {
  cursor: pointer;
}

.introduction .card img {
  position: relative;
}

.introduction .card .btn-vedio {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 5px);
  z-index: 99;
}

.images__card {
  position: absolute;
  top: 50px;
}

.images__card .card {
  width: 460px;
}

@media screen and (max-width: 450px) {
  .images__card .card {
    width: 350px;
  }
}

@media screen and (max-width: 377px) {
  .images__card .card {
    width: 300px;
  }
}

.images .position-right {
  right: 30px;
}

.images .position-left {
  left: 30px;
}

.about-nismo__card {
  position: absolute;
  top: 50px;
}

@media screen and (min-width: 800px) {
  .about-nismo__card {
    margin-top: 100px;
  }
}

.about-nismo__card .card {
  width: 460px;
}

@media screen and (max-width: 450px) {
  .about-nismo__card .card {
    width: 350px;
  }
}

@media screen and (max-width: 377px) {
  .about-nismo__card .card {
    width: 300px;
  }
}

.about-nismo .position-right {
  right: 50px;
}

.about-nismo .position-left {
  left: 50px;
}

.what-makes-nismo__card {
  position: absolute;
  top: 50px;
}

@media screen and (min-width: 800px) {
  .what-makes-nismo__card {
    margin-top: 100px;
  }
}

.what-makes-nismo__card .card {
  width: 460px;
}

@media screen and (max-width: 450px) {
  .what-makes-nismo__card .card {
    display: none;
  }
}

@media screen and (max-width: 377px) {
  .what-makes-nismo__card .card {
    display: none;
  }
}

.what-makes-nismo .position-right {
  right: 100px;
}

.what-makes-nismo .position-left {
  left: 50px;
}

@media screen and (max-width: 800px) {
  .to-door__image {
    height: 500px;
  }
}

.to-door__card {
  position: absolute;
  top: 50px;
}

.to-door__card .card {
  width: 460px;
}

@media screen and (max-width: 450px) {
  .to-door__card .card {
    width: 350px;
  }
}

@media screen and (max-width: 377px) {
  .to-door__card .card {
    width: 300px;
  }
}

.to-door .position-left {
  left: 50px;
}

@media screen and (max-width: 450px) {
  .to-door .position-left {
    left: 30px;
  }
}

@media screen and (max-width: 800px) {
  .mobile-app__image {
    height: 500px;
  }
}

.mobile-app__card {
  position: absolute;
  top: 50px;
}

.mobile-app .position-left {
  left: 50px;
}

@media screen and (max-width: 450px) {
  .mobile-app .position-left {
    left: 30px;
  }
}

.mobile-app .card {
  width: 460px;
  background-color: transparent;
}

@media screen and (max-width: 800px) {
  .mobile-app .card {
    width: 75%;
  }
}

@media screen and (max-width: 450px) {
  .mobile-app .card {
    width: 100%;
  }
}

.loader {
  position: fixed;
  background-color: #c3002f;
  bottom: 0;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99999;
}

.loader__img {
  animation-name: spin;
  animation-duration: 5000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@media screen and (max-width: 800px) {
  #sidemenu-btn {
    display: none;
  }
}

#sidemenu {
  position: fixed;
  top: 0;
  left: -400px;
  width: 400px;
  z-index: 99999999999999999;
}

#x-sidemenu-btn {
  position: absolute;
  right: 40px;
  top: 30px;
}

#sidemenu__options {
  background-color: #fff;
  padding: 70px 30px;
  min-height: 100vh;
  max-height: 800px;
  overflow-y: auto;
}

input[type="checkbox"] {
  visibility: hidden;
}

label {
  cursor: pointer;
}

input[type="checkbox"] + label:before {
  border: 1px solid rgba(0, 0, 0, 0.5);
  content: "\00a0";
  display: inline-block;
  font: 16px/1em sans-serif;
  height: 20px;
  margin: 0 .25em 0 0;
  padding: 0;
  vertical-align: top;
  width: 18px;
}

input[type="checkbox"]:checked + label:before {
  color: #c3002f;
  content: "\2713";
  text-align: center;
}
/*# sourceMappingURL=style-ar.css.map */